* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid black;
}

.appLogo {
  width: 10rem;
  border: 1px solid black;
}

.navList {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  border: 1px solid black;
}

.navList > li {
  margin: 10px;
  font-size: larger;
  font-weight: bolder;
  margin: 0rem 2rem;
}

.restaurantsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.card {
  margin: 10px;
  width: 250px;
  border: solid 1px black;
  padding: 10px;
  border-radius: 20px;
}

.card > * {
  margin: 5px 0px;
}

.cardImage {
  width: 100%;
  height: 200px;
  border-radius: 20px;
}
